<div>
        <img src="./images/beer.png" alt="beerimg" class ="imgbeer">
    </div>
    <div>
        <button id="checkBeer" type="button"><a href="/beers">Beers</a>Check the Beers!</button>
        <button id="checkRandom" type="button"><a href="/random-beer"></a>Check a Random Beer</button>
    </div>