<div>
  <img src='./images/beer.png' alt='beerimg' />
</div>
<div>
  <button id='checkBeer' type='button'><a href='/beers'>Beers</a>Check the
    Beers!</button>
  <button id='checkRandom' type='button'>Check a Random Beer</button>
</div>