body {
  margin: 0;
  font-family: Arial;
}

.navbar navbar-expand-lg navbar-light bg-light {
  background-color: #408bbd;
  color: #bfbfbf;
}

#navbarNav {
  background-color: #408bbd;
}

.nav-link {
  color: #bfbfbf;
}

h3 {
  font-size: 22px;
  font-weight: 900px;
}

h4 {
  font-size: 13px;
  color: #bfbfbf;
}

h5 {
  font-size: 12px;
}

.imgbeer {
  display: block;
  margin: auto;
  padding: 150px;
  height: 500px;
  width: 500px;
}

#checkBeer,
#checkRandom {
  display: block;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2081c3;
  color: #f7f9f9;
  padding: 8px;
}

#checkRandom {
  margin-top: 20px;
}

.container {
  position: absolute;
  display: flex;
  width: 50px;
  height: 40px;
}

.container img {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  height: 130px;
  width: 35px;
}

.container text {
  position: relative;
  display: flex;
  text-align: start;
}
